wxpython
python-vlc
youtube-search-python
httpx==0.27.0
accessible-output3
passwordmeter
pwnedpasswords
pyOpenSSL
requests
pydub
keyboard
speechRecognition
paramiko
keyring
cryptography
speedtest-cli
pyaudio
srt
msspeech
gtts
langdetect
configobj