wxpython
AppGuard
python-vlc
accessible-output3
passwordmeter
pwnedpasswords
pyOpenSSL
requests
packaging
pydub
keyboard
speechRecognition
paramiko
keyring
cryptography
speedtest-cli
pyaudio
srt
msspeech
gtts
langdetect
configobj